@import url("./fonts.css");

@import "tailwindcss";

@theme {
  --font-founders: "FoundersGrotesk";
  --font-icomoon: "Icomoon";
  --font-neue: "NeueMontreal";
}

@layer base {
  body {
    @apply font-neue min-h-screen antialiased;
  }
}
